- page ||= index_branch

%li{:id => dom_id(page)}
  .item
    .toggle{:class => is_open?(page) ? 'open' : nil}
      - if show_toggle?(page)
        = link_to toggle_branch_comfy_admin_cms_site_page_path(@site, page), :remote => true do
          %span= t('.toggle')

    .icon{:class => is_published?(page) ? 'published' : 'draft'}
      - if reorderable?(page)
        .dragger
          %span &#8645;

    .btn-group.btn-group-sm
      = link_to t('.add_child_page'), new_comfy_admin_cms_site_page_path(@site, :parent_id => page.id), :class => 'btn btn-default'
      = link_to t('.edit'), edit_comfy_admin_cms_site_page_path(@site, page), :class => 'btn btn-default'
      = link_to t('.delete'), comfy_admin_cms_site_page_path(@site, page), :method => :delete, :data => {:confirm => t('.are_you_sure')}, :class => 'btn btn-danger'

    .item-content
      .item-title
        = link_to page.label, edit_comfy_admin_cms_site_page_path(@site, page), :class => 'item-label'
        = render :partial => 'comfy/admin/cms/categories/categories', :object => page
      .item-meta
        = link_to page.url, page.url, :target => '_blank'

  - if show_children?(page)
    %ul.children.sortable
      = render :partial => 'index_branch', :collection => children(page)
